<%= form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qualification %><br>
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :learning %><br>
    <%= f.text_field :learning %>
  </div>
  <div class="field">
    <%= f.label :science %><br>
    <%= f.text_field :science %>
  </div>
  <div class="field">
    <%= f.label :clinic %><br>
    <%= f.text_field :clinic %>
  </div>
  <div class="field">
    <%= f.label :social %><br>
    <%= f.text_field :social %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :employee %><br>
    <%= f.text_field :employee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
