<%= form_for @point, url: employee_points_path(@employee), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :qualification, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qualification, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :learning, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :learning, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :science, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :science, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :social, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :social, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :year, :class => 'number_field'%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employee_points_path(@employee), :class => 'btn' %>
  </div>
<% end %>
