<%= form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :chair_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :chair_id, options_for_select= @chairs.collect {|p| [t(p.name, :scope => [:chairs]), p.id] }, {:include_blank => ''}, :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :post_id, options_for_select= @posts.collect {|p| [t(p.name, :scope => [:posts]), p.id] }, {:include_blank => ''}, :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :degree_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :degree_id, options_for_select= @degrees.collect {|p| [t(p.name, :scope => [:degrees]), p.id] }, {:include_blank => ''}, :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :academic_title_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :academic_title_id, options_for_select= @academic_titles.collect {|p| [t(p.name, :scope => [:academic_titles]), p.id] }, {:include_blank => ''}, :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :head, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :head, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employees_path, :class => 'btn' %>
  </div>
<% end %>
