<%- model_class = Employee -%>
<div class="page-header">
  <h1>Сотрудники</h1>
</div>
<% if @editor_permission %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_employee_path,
            :class => 'btn btn-primary' %>
<% end %>
  <%= link_to "Скачать", employees_path(format: "xls"), target: '_blank', :class => 'btn btn-primary' %>
<% if @editor_permission %>
<%= form_tag import_employees_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", :class => 'btn btn-primary' %>
<% end %>
<% end %>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Ф.И.О.</th>
      <th>Кафедра</th>
      <th>Должность</th>
      <th>Рейтинг</th>
      <th>Зав. кафедрой</th>
      <% if @editor_permission %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= link_to point.employee.fio, employee_path(point.employee) %></td>
        <td><%= link_to point.employee.chair.name, chair_path(point.chair) if point.chair %></td>
        <td><%= (link_to point.post.name, "employees?" + "filtered=" + point.post.id.to_s) if point.post %></td>
        <td><%= point.rating %></td>
        <td><%= point.head_rating.round(2) if point.employee.head? %></td>
	<% if @editor_permission %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_employee_path(point.employee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      employee_path(point.employee),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
