<%- model_class = Employee -%>
<%- model_class_2 = Point -%>
<div>
<p class="pull-left"><%= link_to 'Предыдущий', @prev_employee if @prev_employee %>
<p class="pull-right"><%= link_to 'Следующий', @next_employee if @next_employee %>
</div>
<div class="page-header">
  <h1><%= @employee.fio %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Кафедра:</strong></dt>
  <dd><%= @employee.chair ? (link_to @employee.chair.name, @employee.chair) : '-' %></dd>
  <dt><strong>Должность:</strong></dt>
  <dd><%= @employee.post ? @employee.post.name : '-'  %></dd>
  <dt><strong>Ученая степень:</strong></dt>
  <dd><%= @employee.degree ? @employee.degree.name : '-'  %></dd>
  <dt><strong>Ученое звание:</strong></dt>
  <dd><%= @employee.academic_title ? @employee.academic_title.name : '-' %></dd>
  <dt><strong>Зав. кафедрой:</strong></dt>
  <dd><%= @employee.head? ? 'да, рейтинг ' + '%.2f' % @employee.head_rating(@last_year) : 'нет' %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Год</th>
      <th>Квалификация</th>
      <th>Учебная работа</th>
      <th>Научная работа</th>
      <th>Клиническая работа</th>
      <th>Общественная деятельность</th>
      <th>Рейтинг без квалификации</th>
      <th>Рейтинг</th>
      <th>Сигмальное отклонение</th>
      <% if @editor_permission %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @points.order(:year).each do |p| %>
      <tr>
        <td><%= p.year %></td>
        <td><%= p.qualification  %></td>
        <td><%= p.learning %></td>
        <td><%= p.science %></td>
        <td><%= p.clinic %></td>
        <td><%= p.social %></td>
        <td><%= p.inqualification_rating %></td>
        <td><%= p.rating %></td>
        <td><%= p.sigma(p.rating, p.year) %></td>
	<% if @editor_permission %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_employee_point_path(@employee.id, p), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      employee_point_path(@employee.id, p),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id='chart_div'>
</div>
<% if @editor_permission %>
<%- model_class = Point -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'points/form' %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= @graph_points.to_s.html_safe %>);

        var options = {
          height: 300,
          title: 'Employee Performance',
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>