<%- model_class = Employee -%>
<%- model_class_2 = Point -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fio) %>:</strong></dt>
  <dd><%= @employee.fio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:chair_id) %>:</strong></dt>
  <dd><%= @employee.chair ? (link_to @employee.chair.name, @employee.chair) : '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:post_id) %>:</strong></dt>
  <dd><%= @employee.post ? @employee.post.name : '-'  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:degree_id) %>:</strong></dt>
  <dd><%= @employee.degree ? @employee.degree.name : '-'  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:academic_title_id) %>:</strong></dt>
  <dd><%= @employee.academic_title ? @employee.academic_title.name : '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:head) %>:</strong></dt>
  <dd><%= @employee.head? ? 'да, рейтинг ' + '%.2f' % @employee.head_rating(@last_year) : 'нет' %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class_2.human_attribute_name(:year) %></th>
      <th><%= model_class_2.human_attribute_name(:qualification) %></th>
      <th><%= model_class_2.human_attribute_name(:learning) %></th>
      <th><%= model_class_2.human_attribute_name(:science) %></th>
      <th><%= model_class_2.human_attribute_name(:clinic) %></th>
      <th><%= model_class_2.human_attribute_name(:social) %></th>
      <th><%= model_class_2.human_attribute_name(:inqualification_rating) %></th>
      <th><%= model_class_2.human_attribute_name(:rating) %></th>
      <th>Sigma</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @employee.points.order(:year).each do |p| %>
      <tr>
        <td><%= p.year %></td>
        <td><%= p.qualification  %></td>
        <td><%= p.learning %></td>
        <td><%= p.science %></td>
        <td><%= p.clinic %></td>
        <td><%= p.social %></td>
        <td><%= p.inqualification_rating %></td>
        <td><%= p.rating %></td>
        <td><%= p.sigma(p.rating, p.year) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_point_path(p), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      point_path(p),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
