<%- model_class = Chair -%>
<div class="page-header">
  <h1>Кафедры</h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Название</th>
      <th>Факультет</th>
      <th>Клиническая/теоретическая</th>
      <th>Рейтинг</th>
      <% if current_user_editor? %>
	<th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @chairs.each do |chair| %>
      <tr>
        <td><%= link_to chair.name, chair_path(chair) %></td>
        <td><%= (link_to chair.faculty.name, "chairs?" + "filtered=" + chair.faculty.id.to_s) if chair.faculty %></td>
        <td><%= chair.clinic ? "клиническая" : "теоретическая" %></td>
        <td><%= '%.2f' % chair.rating[@last_year]["rating"] %></td>
	<% if current_user_editor? %>
	  <td>
	    <%= link_to t('.edit', :default => t("helpers.links.edit")),
			edit_chair_path(chair), :class => 'btn btn-mini' %>
	    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			chair_path(chair),
			:method => :delete,
			:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			:class => 'btn btn-mini btn-danger' %>
	  </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user_editor? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_chair_path,
            :class => 'btn btn-primary' %>
<% end %>
