<%- model_class = Chair -%>
<div class="page-header">
  <h1><%=t '.title', :default => @chair.name.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd><%= '%.2f' % @chair.rating(@last_year) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:faculty_id) %>:</strong></dt>
  <dd><%= @chair.faculty ? link_to(@chair.faculty.name, "/chairs?" + "filtered=" + @chair.faculty.id.to_s) : "-"  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:clinic) %>:</strong></dt>
  <dd><%= @chair.clinic ? "клиническая" : "теоретическая" %></dd>
</dl>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:fio) %></th>
      <th><%= Employee.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:post_id) %></th>
      <th><%= model_class.human_attribute_name(:degree_id) %></th>
      <th><%= model_class.human_attribute_name(:academic_title_id) %></th>
      <th><%= model_class.human_attribute_name(:head) %></th>
      <% if current_user_editor? %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @chair.employees.sort_by{|e| e.rating(@last_year)}.reverse.each do |employee| %>
      <tr>
        <td><%= link_to employee.fio, employee_path(employee), :title => employee.rating(@last_year)  %></td>
        <td><%= employee.rating(@last_year) %></td>
        <td><%= employee.post.name if employee.post %></td>
        <td><%= employee.degree.name if employee.degree%></td>
        <td><%= employee.academic_title.name if employee.academic_title %></td>
        <td><%= 'да, рейтинг ' + '%.2f' % employee.head_rating(@last_year) if employee.head? %></td>
	<% if current_user_editor? %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      employee_path(employee),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user_editor? %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              chairs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_chair_path(@chair), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              chair_path(@chair),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>
