<%- model_class = Chair -%>
<div class="page-header">
  <h1><%=t '.title', :default => @chair.name.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Рейтинг:</strong></dt>
<dd><table class="table">
<thead><tr>
<th></th>
<% @names.each do |n| %>
  <th><%= n %></th>
<% end %>
</tr>
</thead>
<tbody>
<% @chair.rating.each do |k, v| %>
<tr>
  <td><%= k %></td>
  <% v.each do |n, m| %>
<td><%= '%.2f' % m %></td>
<% end %>
</tr>
<% end %>
</tbody>
</table></dd>
  <dt><strong>Факультет:</strong></dt>
  <dd><%= @chair.faculty ? link_to(@chair.faculty.name, "/chairs?" + "filtered=" + @chair.faculty.id.to_s) : "-"  %></dd>
  <dt><strong>Клиническая/теоретическая:</strong></dt>
  <dd><%= @chair.clinic ? "клиническая" : "теоретическая" %></dd>
</dl>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ф.И.О.</th>
      <th>Рейтинг</th>
      <th>Должность</th>
      <th>Ученая степень</th>
      <th>Ученое звание</th>
      <th>Зав. кафедрой</th>
      <% if @editor_permission %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @chair.employees.sort_by{|e| e.rating(@last_year)}.reverse.each do |employee| %>
      <tr>
        <td><%= link_to employee.fio, employee_path(employee), :title => employee.rating(@last_year)  %></td>
        <td><%= employee.rating(@last_year) %></td>
        <td><%= employee.post.name if employee.post %></td>
        <td><%= employee.degree.name if employee.degree%></td>
        <td><%= employee.academic_title.name if employee.academic_title %></td>
        <td><%= 'да, рейтинг ' + '%.2f' % employee.head_rating(@last_year) if employee.head? %></td>
	<% if @editor_permission %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      employee_path(employee),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @editor_permission %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              chairs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_chair_path(@chair), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              chair_path(@chair),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<% end %>
