<h1>Отчеты</h1>

<h2>Средние значения рейтинга</h2>

<% @years.each do |year| %>
  <h3><%= "#{year} - общий рейтинг #{@average_rating[year][:total]}" %></h3>
  <ul>
  <% @posts.each do |post| %>
      
      <li><%= "#{post.name} #{@average_rating[year][post.id][:total]}" %>

    <li>рейтинг по факультетам
    <ul>
      <% @faculties.each do |faculty| %>
	       <li><%= "#{faculty.name} #{@average_rating[year][post.id][faculty.id]}" %>
      <% end %>
    </ul>
      <li>рейтинг по кафедрам
      <ul>
        <li><%= "теоретические #{@average_rating[year][post.id][:teoretical]}" %>
        <li><%= "клинические #{@average_rating[year][post.id][:clinical]}" %>
      </ul>
      <hr />
  <% end %>
</ul>
<% end %>


<pre><%= @average_rating %>