<h1>Отчеты</h1>

<h2>Средние значения рейтинга</h2>
<dl>
<% @years.each do |year| %>
  <dt><%= year %></dt>
  <dt><%= "Общий рейтинг #{@average_rating[year][:total]}" %></dt>
  <dt>Рейтинг по должностям</dt>
  <% @posts.each do |post| %>
    <dd><%= "#{post.name} #{@average_rating[year][post.id][:total]}" %></dd>
    <dt>Рейтинг по факультетам</dt>
      <% @faculties.each do |faculty| %>
	<dd><%= "#{faculty.name} #{@average_rating[year][post.id][faculty.id]}" %></dd>
      <% end %>
  <% end %>
<% end %>
</dl>
<pre><%= @average_rating %>