<h1>Отчеты</h1>
<table class="table">
  <tread>
    <tr>
      <th>
      </th>
      <% @years.each do |year| %>
      <th>
        <%= year %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="<%= @years.count + 1 %>"><h2>рейтинг</h2>
    </tr>
    <tr>
      <td>
        Квалификация
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][0] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Учебная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][1] %>
      </td>
      <% end %>
    </tr>
        <tr>
      <td>
        Научная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][2] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Лечебная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][3] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Общественная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][4] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Общий
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][5] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Без раздела А
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][6] %>
      </td>
      <% end %>
    </tr>

    <% @faculties.each do |faculty| %>
    <tr>
      <td colspan="<%= @years.count + 1 %>"><h2><%= faculty.name %></h2>
    </tr>
        <tr>
      <td>
        Квалификация
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @faculty_rating[year][faculty.id][0] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Учебная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @faculty_rating[year][faculty.id][1] %>
      </td>
      <% end %>
    </tr>
        <tr>
      <td>
        Научная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @faculty_rating[year][faculty.id][2] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Лечебная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @faculty_rating[year][faculty.id][3] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Общественная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @faculty_rating[year][faculty.id][4] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Общий
      </td>
      <% @years.each do |year| %>
      <td>
        <%=@faculty_rating[year][faculty.id][5] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Без раздела А
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @faculty_rating[year][faculty.id][6] %>
      </td>
      <% end %>
    </tr>
  <% end %>
    <% @posts.each do |post| %>
    <tr>
      <td colspan="<%= @years.count + 1 %>"><h2><%= post.name %></h2>
    </tr>
        <tr>
      <td>
        Квалификация
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][post.id][:total][0] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Учебная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][post.id][:total][1] %>
      </td>
      <% end %>
    </tr>
        <tr>
      <td>
        Научная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][:total][2] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Лечебная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][post.id][:total][3] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Общественная работа
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][post.id][:total][4] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Общий
      </td>
      <% @years.each do |year| %>
      <td>
        <%=@average_rating[year][post.id][:total][5] %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Без раздела А
      </td>
      <% @years.each do |year| %>
      <td>
        <%= @average_rating[year][post.id][:total][6] %>
      </td>
      <% end %>
    </tr>
    <tr>
<td colspan="<%= @years.count + 1 %>">Факультеты</td>
</tr>
<% @faculties.each do |faculty| %>
<tr>
<td><%= faculty.name %></td>
<% @years.each do |year| %>
<td>
  <%= @average_rating[year][post.id][faculty.id][5] %>
</td>
<% end %>
  <% end %>
</tr>
<td colspan="<%= @years.count + 1 %>">Кафедры</td>
<tr>
<td>
Теоретические
</td>
      <% @years.each do |year| %>
      <td>
        <%=@average_rating[year][post.id][:teoretical][5] %>
      </td>
      <% end %>
      <tr>
<td>
Клинические
</td>
      <% @years.each do |year| %>
      <td>
        <%=@average_rating[year][post.id][:clinical][5] %>
      </td>
      <% end %>
</tr>
    <% end %>
  </tbody>  
</table>
<h2>Средние значения рейтинга</h2>
<% @years.each do |year| %>
  <h3><%= "#{year} - общий рейтинг #{@average_rating[year][:total][5]} (#{@average_rating[year][:total][6]})" %></h3>
<table class="table">
<thead>
<tr>
<th>
Должность
</th>
<th>
Общий рейтинг
</th>
  <% @faculties.each do |faculty| %>
<th>
<%= "#{faculty.name} факультет" %>
</th>
  <% end %>
<th>
Теоретические
</th>
<th>
Клинические
</th>
</tr>
</thead>
<tbody>
  <% @posts.each do |post| %>
<tr>
<td>
<%= post.name %>
</td>
<td>
  <%= "#{@average_rating[year][post.id][:total][5]} (#{@average_rating[year][post.id][:total][6]})" if @average_rating[year][post.id][:total][5] %>
</td>
  <% @faculties.each do |faculty| %>
<td>
  <%= "#{@average_rating[year][post.id][faculty.id][5]} (#{@average_rating[year][post.id][faculty.id][6]})" if @average_rating[year][post.id][faculty.id][5] %>
</td>
  <% end %>
<td>
  <%= "#{@average_rating[year][post.id][:teoretical][5]} (#{@average_rating[year][post.id][:teoretical][6]})" if @average_rating[year][post.id][:teoretical][5] %>
</td>
<td>
  <%= "#{@average_rating[year][post.id][:clinical][5]} (#{@average_rating[year][post.id][:clinical][6]})" if @average_rating[year][post.id][:clinical][5] %>

</td>
</tr>
  <% end %>
</tbody>
</table>
<h3>Показатели рейтинга для преподавателей различных категорий</h3>
<table class="table">
<thead>
    <tr>
    <th>Должность
    </th>
    <th>Менее +1 сигмы
    </th>
        <th>+1 - +2 сигмы
    </th>
        <th>Более +2 сигм
    </th>
  </tr>
</thead>
<tbody>
    <% @posts.each do |post| %>
  <tr>
        <td>
      <%= post.name %>
    </td>
    <td>
      <%= "#{@average_rating[year][post.id][:sigma][5]}%" %>
    </td>
        <td>
      <%= "#{@average_rating[year][post.id][:sigma][6]}%" %>
    </td>
        <td>
      <%= "#{@average_rating[year][post.id][:sigma][2]}%" %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
<% end %>